<div>
    Login
</div> 
<?php echo $this->Form->create('User', array('action' => 'login')); ?>
    <div>
    <?php echo $this->Form->input('username'); ?>
    </div>
    <div>
    <?php echo $this->Form->input('password'); ?>
    </div>
    <div>
        <input type="submit">
    </div>
<?php echo $this->Form->end(); ?>        